.write{
    padding-top: 50px;
}
.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
}
.writeForm{
    position: relative;
}
.formgroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.addImage{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(102, 86, 86);
    cursor: pointer;
}
.txtInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}
.txtInput:focus{
    outline: none;
}
.writeTxt{
    font-size: 20px;
    height: 100vh;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: whitesmoke;
    background-color: turquoise;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.writeSubmit:hover{
    transition: all .4s ease-in-out;
    background-color: blue;
}
.imageInput{
    display: none;
}