.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 40em){
    .sidebar{
        position: bottom;
    }
}

.sidebar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebar-item > img{
    margin-top: 15px;
}
.sidebar-item > p{
    padding: 30px;
}

.sidebar-list{
    list-style: none;
    margin-bottom: 30px;
}
.sidebar-listItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}