.login{
    height: calc(100vh -50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)), url("https://img.freepik.com/free-vector/login-page-template-line-style_1017-31857.jpg?w=2000");
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: rgb(231, 220, 220);
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(165, 120, 5);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.loginButton:hover{
    background-color: rgb(24, 39, 24);   
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color: red;
}
.no-account{
    position: absolute;
    top: 70px;
    right: 100px;
    color: rgb(172, 9, 91);
}
.loginregisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(2, 56, 31);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.loginregisterButton:hover{
    background-color: rgb(180, 154, 8);
}