.settings{
    display: flex;
    align-items: center;
    justify-content: center;
}
.settingsWrapper{
    flex: 9;
    padding: 20px;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(13, 141, 34);
}
.delete{
    font-size: 20px;
    color: red;
    cursor: pointer;
}
.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.settingsPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(241, 142, 106);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.settingsForm > label{
    font-size: 20px;
    margin-top: 20px;
}
.settingsForm > input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(158, 134, 134);
}
.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: green;
    margin-top: 20px;
    cursor: pointer;
}