.register{
    height: calc(100vh -50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)), url("https://img.freepik.com/free-vector/login-page-template-line-style_1017-31857.jpg?w=2000");
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: rgb(231, 220, 220);
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(153, 143, 8);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerButton:hover{
    background-color: rgb(7, 73, 7);
}
.have-account{
    position: absolute;
    top: 70px;
    right: 100px;
    color: rgb(172, 9, 91);
}
.registerloginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(99, 148, 99);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.registerloginButton:hover{
    background-color: rgb(140, 218, 24);
}